<a href="https://colab.research.google.com/github/kk25gb/AIdea-project-file/blob/Siamese-network/Indexer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 建立索引清單

In [98]:
import json
import csv
from urllib.request import urlopen
from sklearn.cluster import KMeans
import pandas as pd
import numpy as np
import tqdm

In [99]:
url = 'https://raw.githubusercontent.com/kk25gb/AIdea-project-file/main/stage2/vectorize_data.json'
response = urlopen(url)
data = json.loads(response.read())
known_assay_labels = list(data.keys())
df = pd.DataFrame(data).T

In [100]:
url = 'https://raw.githubusercontent.com/kk25gb/AIdea-project-file/Siamese-network/stage2/similarity_list_stage_2.json'
response = urlopen(url)
similarity_list = json.loads(response.read())

In [101]:
# similarity_list

In [102]:
url = 'https://raw.githubusercontent.com/kk25gb/AIdea-project-file/Siamese-network/stage2/column_filter.json'
response = urlopen(url)
column_filter = json.loads(response.read())

In [103]:
index=0
object_list = df[column_filter[list(column_filter.keys())[index]]].loc[list(similarity_list.keys())[index]]
object_list.iloc[:].tolist()

[6, 14, 2, 3]

In [112]:
# index = 90
index = list(column_filter.keys()).index('172')
print("Object:",list(column_filter.keys())[index])
print("index:",column_filter[list(column_filter.keys())[index]])
print("values:",df[column_filter[list(column_filter.keys())[index]]].loc[list(similarity_list.keys())[index]].tolist())
print("same_index_rows:",similarity_list[list(similarity_list.keys())[index]])
index_filter = df[column_filter[list(column_filter.keys())[index]]].loc[similarity_list[list(similarity_list.keys())[index]]]
index_filter

Object: 172
index: [370, 578, 584]
values: [10, 10, 2]
same_index_rows: ['96', '1089', '1001', '451', '1123', '399', '417', '1019', '452', '581', '593', '705', '102', '397', '433', '1131', '660', '889', '525', '685', '994', '172', '87', '1022', '145', '996', '822', '269', '79', '545', '398', '1360', '1034', '447', '409', '1091', '352', '749', '390', '315', '1371', '19', '731', '1040', '861', '195', '915', '564', '125']

      370  578  584
96      6    6    4
1089    5    8    8
1001    6   14    3
451     3    4    1
1123    4    8    1
399     5    7    1
417     4   10    5
1019    1    7    1
452     4    2    1
581    10    8    5
593     8   10    5
705     5   11    6
102     5    5    3
397     5    6    1
433     4    8    2
1131    2    1    1
660     1    5    1
889     7   13    3
525     1    6    6
685     5   12    7
994     9    1    1
172    10   10    2
87      6    6    4
1022    4    8    5
145     3    8    1
996     7   14    3
822     8    2    2
269     3    7    1
79      4    3    1
545     4    6    6
398     6    6    2
1360    2    4    3
1034    3    5    1
447     1    1    1
409     5    8    1
1091    6   10    1
352     1    7    3
749     5   12    7
390     5    6    1
315     7    5    1
1371    5   12    2
19      3    7    2
731     4   12    7
1040    4    5    1
861     4    1    1
195     6   10   10
915     3   12   11
564     7    6    4
125     3    5    1

# 進行迭代分析

In [105]:
results = {}
for i in list(column_filter.keys()):
  index_object = df[column_filter[i]].loc[i].tolist()
  # print("Object:",i,index_object)
  compare_object = df[column_filter[i]].loc[similarity_list[i]]
  results[i]={"key":column_filter[i]}
  temp={}
  for key, value in zip(compare_object.iloc[:,:].index,compare_object.iloc[:,:].values):
    if key!=i:temp[key] = value.tolist()
  if len(temp)>0:
    results[i]["values"]=temp
  else:
    del results[i]
  # print('----------------------')
  # break

In [106]:
# results

# 匯出檔案

##儲存為JSON格式

In [107]:
import json
with open('./results.json', 'w', encoding='utf8') as f:
    json.dump(results, f, ensure_ascii=False)

## 從Colab下載檔案到電腦

In [108]:
from google.colab import files
files.download("/content/results.json")