<a href="https://colab.research.google.com/github/kk25gb/AIdea-project-file/blob/Siamese-network/Siamese.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import json
import csv
from keras import layers,Input
from keras.models import Model
from urllib.request import urlopen
from sklearn.cluster import KMeans
from keras import regularizers
import pandas as pd
import numpy as np
import tensorflow as tf

# Stage 1 資料前處理

## 讀入向量化資料

In [ ]:
url = 'https://raw.githubusercontent.com/kk25gb/AIdea-project-file/main/stage1/vectorize_data.json'
response = urlopen(url)
data = json.loads(response.read())
known_assay_labels = list(data.keys())
df = pd.DataFrame(data).T

In [ ]:
len(data['1'])

764

## 讀入 True label csv

In [ ]:
url = 'https://raw.githubusercontent.com/kk25gb/AIdea-project-file/main/stage1/TrainLabel.csv'
response = urlopen(url)
lines = [l.decode('utf-8') for l in response.readlines()]
true_labels = list(csv.reader(lines))
del true_labels[0]

In [ ]:
len(true_labels)

1381

## 建立 False label 資料

In [ ]:
import random

input_keys = list(data.keys())
false_labels = []

while len(false_labels) < len(true_labels):
  temp = [random.choice(input_keys),random.choice(input_keys)]
  if temp not in true_labels:
    false_labels.append(temp)

In [ ]:
len(false_labels)

1381

## 產生所需資料格式

In [ ]:
def data_generator(input,Label=0):
  return [[[data[row[0]],data[row[1]]],Label] for row in input]

In [ ]:
# 標籤為True的向量資料對
true_list = data_generator(true_labels,1)

In [ ]:
# 標籤為False的向量資料對
false_list = data_generator(false_labels,0)

In [ ]:
df_true = pd.DataFrame(true_list)
df_true.head()

                                                   0  1
0  [[0, 0, 0, 2, 4, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,...  1
1  [[0, 0, 0, 2, 4, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,...  1
2  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,...  1
3  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...  1
4  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...  1

In [ ]:
df_false = pd.DataFrame(false_list)
df_false.head()

                                                   0  1
0  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 2,...  0
1  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...  0
2  [[0, 0, 0, 2, 4, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,...  0
3  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...  0
4  [[0, 0, 0, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...  0

## 混合 Ture / False 標籤的資料

In [ ]:
train_list = true_list+false_list

In [ ]:
len(train_list)

2762

In [ ]:
df_train = pd.DataFrame(train_list)
df_train.head()

                                                   0  1
0  [[0, 0, 0, 2, 4, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,...  1
1  [[0, 0, 0, 2, 4, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,...  1
2  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,...  1
3  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...  1
4  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...  1

In [ ]:
from sklearn.utils import shuffle
df_train = shuffle(df_train)

In [ ]:
df_train.head()

                                                      0  1
1242  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...  1
2073  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 8, 0,...  0
2757  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...  0
364   [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...  1
2273  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...  0

In [ ]:
X = df_train[0]
Y_true = df_train[1]

#### 將輸出標籤改寫為True 與 Fasle 兩個 Column 組成

In [ ]:
Y =[[1-true_label,true_label] for true_label in Y_true]

In [ ]:
pd.DataFrame(Y).head()

   0  1
0  0  1
1  1  0
2  1  0
3  0  1
4  1  0

### 轉為Numpy陣列

In [ ]:
left_x = np.array([row[0] for row in X]).astype('float32')
right_x = np.array([row[1] for row in X]).astype('float32')
y_train = np.array(Y).astype('float32')

In [ ]:
pd.DataFrame(left_x).head()

   0    1    2    3    4    5    6    ...  757  758  759  760  761  762  763
0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[5 rows x 764 columns]

In [ ]:
pd.DataFrame(right_x).head()

   0    1    2    3    4    5    6    ...  757  758  759  760  761  762  763
0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  1.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  2.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[5 rows x 764 columns]

In [ ]:
pd.DataFrame(y_train).head()

     0    1
0  0.0  1.0
1  1.0  0.0
2  1.0  0.0
3  0.0  1.0
4  1.0  0.0

In [ ]:
left_x.shape

(2762, 764)

In [ ]:
right_x.shape

(2762, 764)

In [ ]:
y_train.shape

(2762, 2)

# 建立神經網路模型

參考資料：
* [Image similarity estimation using a Siamese Network with a triplet loss](https://keras.io/examples/vision/siamese_network/)
* [Siamese Network — Unofficial Keras Implementation](https://github.com/gchoi/face-recognition-using-siamese-network)
* [Text-Similarity-Using-Siamese-Deep-Neural-Network](https://github.com/AnjaliDharmik/Text-Similarity-Using-Siamese-Deep-Neural-Network)
* [Siamese TF Cosine Distance Fine Tune.ipynb](https://colab.research.google.com/github/meethariprasad/research_works/blob/master/Siamese_TF_Cosine_Distance_Fine_Tune.ipynb#scrollTo=DNX6jbv40iyV)

## 建構原理
藉由同一個層來一起進行萃取兩篇文章的相似度特徵  
因此需共享權重來訓練神經網路

In [ ]:
lstm = layers.LSTM(250,activation="tanh",recurrent_activation="sigmoid",dropout=0.25,recurrent_dropout=0.25,) # 共享權重的神經層

left_input = Input(shape=(764,),name='left_input')
# print(left_input.shape)
left_embedded_text = layers.Embedding(764,250)(left_input) # 輸入向量764；輸入向量764
left_output = lstm(left_embedded_text) 
# print(left_output.shape)

right_input = Input(shape=(764,),name='right_input')
# print(right_input.shape)
right_embedded_text = layers.Embedding(764,250)(right_input)
right_output = lstm(right_embedded_text)
# print(right_output.shape)

merged = layers.concatenate([left_output,right_output],axis=-1) # 將向量串接
# print(merged.shape)
narrow_down_1 = layers.Dense(500,activation='relu', kernel_regularizer=regularizers.l2(0.001))(merged)
narrow_down_1 = layers.Dropout(0.5)(narrow_down_1)
narrow_down_2 = layers.Dense(500,activation='relu', kernel_regularizer=regularizers.l2(0.001))(narrow_down_1)
narrow_down_2 = layers.Dropout(0.5)(narrow_down_2)
narrow_down_3 = layers.Dense(250,activation='relu', kernel_regularizer=regularizers.l2(0.001))(narrow_down_2)
narrow_down_3 = layers.Dropout(0.5)(narrow_down_3)
narrow_down_4 = layers.Dense(125,activation='relu', kernel_regularizer=regularizers.l2(0.001))(narrow_down_3)
narrow_down_4 = layers.Dropout(0.5)(narrow_down_4)
predictions = layers.Dense(2,activation='sigmoid')(narrow_down_4)
model = Model([left_input,right_input],predictions)

WARNING:tensorflow:Layer lstm will not use cuDNN kernels since it doesn't meet the criteria. It will use a generic GPU kernel as fallback when running on GPU.

In [ ]:
model.summary()

Model: "model"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 left_input (InputLayer)        [(None, 764)]        0           []

 right_input (InputLayer)       [(None, 764)]        0           []

 embedding (Embedding)          (None, 764, 250)     191000      ['left_input[0][0]']

 embedding_1 (Embedding)        (None, 764, 250)     191000      ['right_input[0][0]']

 lstm (LSTM)                    (None, 250)          501000      ['embedding[0][0]',
                                                                  'embedding_1[0][0]']

 concatenate (Concatenate)      (None, 500)          0           ['lstm[0][0]',
                                                                  'lstm[1][0]']

 dense (Dense)                  (None, 500)          250500      ['concatenate[0][0]']

 dropout (Dropout)              (None, 500)          0           ['dense[0][0]']

 dense_1 (Dense)                (None, 500)          250500      ['dropout[0][0]']

 dropout_1 (Dropout)            (None, 500)          0           ['dense_1[0][0]']

 dense_2 (Dense)                (None, 250)          125250      ['dropout_1[0][0]']

 dropout_2 (Dropout)            (None, 250)          0           ['dense_2[0][0]']

 dense_3 (Dense)                (None, 125)          31375       ['dropout_2[0][0]']

 dropout_3 (Dropout)            (None, 125)          0           ['dense_3[0][0]']

 dense_4 (Dense)                (None, 2)            252         ['dropout_3[0][0]']

==================================================================================================
Total params: 1,540,877
Trainable params: 1,540,877
Non-trainable params: 0
__________________________________________________________________________________________________

In [ ]:
model = Model([left_input,right_input],predictions)
model.compile(optimizer='rmsprop',loss='binary_crossentropy',metrics=[tf.keras.metrics.BinaryCrossentropy()])

In [ ]:
# 訓練方法2；使用dict將送入資料進行訓練，鍵為Input層的名稱，值為Numpy的值
model.fit({'left_input':left_x,'right_input':right_x},y_train,epochs=10,batch_size=128,validation_split=0.25)

Epoch 1/10
17/17 [==============================] - 191s 11s/step - loss: 1.7256 - binary_crossentropy: 0.6954 - val_loss: 1.4034 - val_binary_crossentropy: 0.6930
Epoch 2/10
17/17 [==============================] - 182s 11s/step - loss: 1.2468 - binary_crossentropy: 0.6936 - val_loss: 1.0809 - val_binary_crossentropy: 0.6938
Epoch 3/10
17/17 [==============================] - 187s 11s/step - loss: 0.9814 - binary_crossentropy: 0.6932 - val_loss: 0.8793 - val_binary_crossentropy: 0.6932
Epoch 4/10
17/17 [==============================] - 186s 11s/step - loss: 0.8240 - binary_crossentropy: 0.6934 - val_loss: 0.7701 - val_binary_crossentropy: 0.6934
Epoch 5/10
17/17 [==============================] - 185s 11s/step - loss: 0.7445 - binary_crossentropy: 0.6933 - val_loss: 0.7216 - val_binary_crossentropy: 0.6934
Epoch 6/10
17/17 [==============================] - 184s 11s/step - loss: 0.7118 - binary_crossentropy: 0.6931 - val_loss: 0.7038 - val_binary_crossentropy: 0.6935
Epoch 7/10
17/17 [==============================] - 180s 11s/step - loss: 0.7001 - binary_crossentropy: 0.6932 - val_loss: 0.6975 - val_binary_crossentropy: 0.6936
Epoch 8/10
17/17 [==============================] - 184s 11s/step - loss: 0.6960 - binary_crossentropy: 0.6933 - val_loss: 0.6952 - val_binary_crossentropy: 0.6936
Epoch 9/10
17/17 [==============================] - 181s 11s/step - loss: 0.6942 - binary_crossentropy: 0.6931 - val_loss: 0.6943 - val_binary_crossentropy: 0.6935
Epoch 10/10
17/17 [==============================] - 185s 11s/step - loss: 0.6937 - binary_crossentropy: 0.6930 - val_loss: 0.6940 - val_binary_crossentropy: 0.6935

# 載入Stage 2 比對資料

In [4]:
url = 'https://raw.githubusercontent.com/kk25gb/AIdea-project-file/main/stage2/vectorize_data.json'
response = urlopen(url)
predict_data = json.loads(response.read())
df = pd.DataFrame(predict_data).T

In [5]:
predict_assay_label = list(predict_data.keys())
compared_assay = np.array(list(predict_data.values())).astype('float32')

In [8]:
len(compared_assay)

421

In [ ]:
# predict_assay_label

### 錯誤解決
* [WARNING: WARNING:tensorflow:Model was constructed with shape (None, 150) , but it was called on an input with incompatible shape (None, 1)](https://stackoverflow.com/questions/61656444/warning-warningtensorflowmodel-was-constructed-with-shape-none-150-but-i)

In [ ]:
len(compared_assay[0])

764

In [ ]:
# list(compared_assay[0])

In [9]:
predict_assay = [list(compared_assay[0])]*len(compared_assay)
len(predict_assay)

421

In [10]:
pd.DataFrame(predict_assay).head()

   0    1    2    3    4    5    6    ...  757  758  759  760  761  762  763
0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[5 rows x 764 columns]

In [ ]:
# import tqdm

In [ ]:
results = {}
for label ,predict_row in zip(predict_assay_label,compared_assay):
  predict_assay = np.array([list(predict_row)]*len(compared_assay))
  # print(len(predict_assay))
  # print(len(known_assay))
  results[label] = model.predict({'left_input':predict_assay,'right_input':compared_assay})
  # break

In [ ]:
pd.DataFrame(results[predict_assay_label[0]]).head()

        0         1
0  0.4958  0.504655
1  0.4958  0.504655
2  0.4958  0.504655
3  0.4958  0.504655
4  0.4958  0.504655

In [ ]:
def judgement(input):
  # print(len(input))
  results = []
  for i in range(len(input)):
    if input[i][1]>input[i][0]:
      results.append(predict_assay_label[i])
  return results

In [ ]:
# final_dict = {}
# for label ,result in results.items():
#    final_dict[label] = judgement(result)

In [ ]:
# results[predict_assay_label[0]][0][0]

In [ ]:
# results[predict_assay_label[0]][0][1]

In [ ]:
final_prediction = {}
for label in predict_assay_label:
  # print(predict_assay_label[predict_assay_label.index(label)])
  # print(results[predict_assay_label[label]])
  final_prediction[label] = judgement(results[predict_assay_label[predict_assay_label.index(label)]])
  # break

In [ ]:
# final_prediction

In [ ]:
table = [['Test','Reference']]

for key, value in final_prediction.items():
    if len(value)>0:
      for row in value:
        table.append([key, row])

In [ ]:
import csv
from time import gmtime, strftime

with open('./prediction.csv', 'w', newline='') as csvfile:
  writer = csv.writer(csvfile)

  # 寫入二維表格
  writer.writerows(table)

## 從Colab下載檔案到電腦

In [ ]:
from google.colab import files
# df.to_csv("prediction.csv")
files.download("/content/prediction.csv")