<a href="https://colab.research.google.com/github/kk25gb/AIdea-project-file/blob/Siamese-network/Siamese.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import json
import csv
from keras import layers,Input
from keras.models import Model
from urllib.request import urlopen
from sklearn.cluster import KMeans
import pandas as pd
import numpy as np

# Stage 1 資料前處理

## 讀入向量化資料

In [2]:
url = 'https://raw.githubusercontent.com/kk25gb/AIdea-project-file/main/stage1/vectorize_data.json'
response = urlopen(url)
data = json.loads(response.read())
df = pd.DataFrame(data).T

In [3]:
len(data['1'])

764

## 讀入 True label csv

In [4]:
url = 'https://raw.githubusercontent.com/kk25gb/AIdea-project-file/main/stage1/TrainLabel.csv'
response = urlopen(url)
lines = [l.decode('utf-8') for l in response.readlines()]
true_labels = list(csv.reader(lines))
del true_labels[0]

In [5]:
len(true_labels)

1381

## 建立 False label 資料

In [6]:
import random

input_keys = list(data.keys())
false_labels = []

while len(false_labels) < len(true_labels):
  temp = [random.choice(input_keys),random.choice(input_keys)]
  if temp not in true_labels:
    false_labels.append(temp)

In [7]:
len(false_labels)

1381

## 產生所需資料格式

In [8]:
def data_generator(input,Label=0):
  return [[[data[row[0]],data[row[1]]],Label] for row in input]

In [9]:
# 標籤為True的向量資料對
true_list = data_generator(true_labels,1)

In [10]:
# 標籤為False的向量資料對
false_list = data_generator(false_labels,0)

In [11]:
df_true = pd.DataFrame(true_list)
df_true.head()

                                                   0  1
0  [[0, 0, 0, 2, 4, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,...  1
1  [[0, 0, 0, 2, 4, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,...  1
2  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,...  1
3  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...  1
4  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...  1

In [12]:
df_false = pd.DataFrame(false_list)
df_false.head()

                                                   0  1
0  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...  0
1  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 6, 2,...  0
2  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...  0
3  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 8, 2,...  0
4  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...  0

## 混合 Ture / False 標籤的資料

In [13]:
train_list = true_list+false_list

In [14]:
len(train_list)

2762

In [15]:
df_train = pd.DataFrame(train_list)
df_train.head()

                                                   0  1
0  [[0, 0, 0, 2, 4, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,...  1
1  [[0, 0, 0, 2, 4, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,...  1
2  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,...  1
3  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...  1
4  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...  1

In [16]:
from sklearn.utils import shuffle
df_train = shuffle(df_train)

In [17]:
df_train.head()

                                                      0  1
811   [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...  1
2105  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...  0
456   [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...  1
1148  [[0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...  1
304   [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...  1

In [18]:
X = df_train[0]
Y = df_train[1]

## 區分訓練集與驗證集

In [19]:
# from sklearn.model_selection import train_test_split
# x_train, x_vaild, y_train, y_vaild = train_test_split(X, Y, test_size=.25)

In [20]:
# len(x_train)

In [21]:
# len(x_vaild)

### 轉為Numpy陣列

In [22]:
left_x = np.array([row[0] for row in X]).astype('float32')
right_x = np.array([row[1] for row in X]).astype('float32')
y_train = np.array(Y).astype('float32')

In [23]:
pd.DataFrame(left_x).head()

   0    1    2    3    4    5    6    ...  757  758  759  760  761  762  763
0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3  0.0  0.0  2.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[5 rows x 764 columns]

In [24]:
pd.DataFrame(right_x).head()

   0    1    2    3    4    5    6    ...  757  758  759  760  761  762  763
0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3  0.0  0.0  4.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[5 rows x 764 columns]

In [25]:
pd.DataFrame(y_train).head()

     0
0  1.0
1  0.0
2  1.0
3  1.0
4  1.0

In [26]:
left_x.shape

(2762, 764)

In [27]:
right_x.shape

(2762, 764)

# 建立神經網路模型

參考資料：
* [Image similarity estimation using a Siamese Network with a triplet loss](https://keras.io/examples/vision/siamese_network/)
* [Siamese Network — Unofficial Keras Implementation](https://github.com/gchoi/face-recognition-using-siamese-network)
* [Text-Similarity-Using-Siamese-Deep-Neural-Network](https://github.com/AnjaliDharmik/Text-Similarity-Using-Siamese-Deep-Neural-Network)

## 建構原理
藉由同一個層來一起進行萃取兩篇文章的相似度特徵  
因此需共享權重來訓練神經網路

In [28]:
lstm = layers.LSTM(764) # 共享權重的神經層

left_input = Input(shape=(764,),name='left_input')
# print(left_input.shape)
left_embedded_text = layers.Embedding(764,764)(left_input) # 輸入向量764；輸入向量764
left_output = lstm(left_embedded_text)
# print(left_output.shape)

right_input = Input(shape=(764,),name='right_input')
# print(right_input.shape)
right_embedded_text = layers.Embedding(764,764)(right_input)
right_output = lstm(right_embedded_text)
# print(right_output.shape)

merged = layers.concatenate([left_output,right_output],axis=-1) # 將向量串接
# print(merged.shape)
narrow_down_1 = layers.Dense(764,activation='relu', kernel_regularizer=regularizers.l2(0.001))(merged)
narrow_down_2 = layers.Dense(382,activation='relu', kernel_regularizer=regularizers.l2(0.001))(narrow_down_1)
narrow_down_3 = layers.Dense(191,activation='relu', kernel_regularizer=regularizers.l2(0.001))(narrow_down_2)
narrow_down_4 = layers.Dense(96,activation='relu', kernel_regularizer=regularizers.l2(0.001))(narrow_down_3)
predictions = layers.Dense(1,activation='sigmoid')(narrow_down_4)
model = Model([left_input,right_input],predictions)

In [29]:
model.summary()

Model: "model"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 left_input (InputLayer)        [(None, 764)]        0           []

 right_input (InputLayer)       [(None, 764)]        0           []

 embedding (Embedding)          (None, 764, 764)     583696      ['left_input[0][0]']

 embedding_1 (Embedding)        (None, 764, 764)     583696      ['right_input[0][0]']

 lstm (LSTM)                    (None, 764)          4672624     ['embedding[0][0]',
                                                                  'embedding_1[0][0]']

 concatenate (Concatenate)      (None, 1528)         0           ['lstm[0][0]',
                                                                  'lstm[1][0]']

 dense (Dense)                  (None, 764)          1168156     ['concatenate[0][0]']

 dense_1 (Dense)                (None, 382)          292230      ['dense[0][0]']

 dense_2 (Dense)                (None, 191)          73153       ['dense_1[0][0]']

 dense_3 (Dense)                (None, 96)           18432       ['dense_2[0][0]']

 dense_4 (Dense)                (None, 1)            97          ['dense_3[0][0]']

==================================================================================================
Total params: 7,392,084
Trainable params: 7,392,084
Non-trainable params: 0
__________________________________________________________________________________________________

In [30]:
model = Model([left_input,right_input],predictions)
model.compile(optimizer='rmsprop',loss='binary_crossentropy',metrics=['acc'])

In [ ]:
# 訓練方法2；使用dict將送入資料進行訓練，鍵為Input層的名稱，值為Numpy的值
model.fit({'left_input':left_x,'right_input':right_x},y_train,epochs=10,batch_size=128,validation_split=0.25)

Epoch 1/10
17/17 [==============================] - 71s 4s/step - loss: 0.7069 - acc: 0.5104 - val_loss: 0.6936 - val_acc: 0.5051
Epoch 2/10
17/17 [==============================] - 62s 4s/step - loss: 0.6949 - acc: 0.4674 - val_loss: 0.6932 - val_acc: 0.5051
Epoch 3/10
17/17 [==============================] - 62s 4s/step - loss: 0.6937 - acc: 0.5027 - val_loss: 0.6931 - val_acc: 0.5051
Epoch 4/10
17/17 [==============================] - 62s 4s/step - loss: 0.6950 - acc: 0.4761 - val_loss: 0.6932 - val_acc: 0.5051
Epoch 5/10
17/17 [==============================] - 62s 4s/step - loss: 0.6935 - acc: 0.4964 - val_loss: 0.6932 - val_acc: 0.5051
Epoch 6/10
17/17 [==============================] - 62s 4s/step - loss: 0.6955 - acc: 0.5041 - val_loss: 0.6949 - val_acc: 0.5051
Epoch 7/10
17/17 [==============================] - 62s 4s/step - loss: 0.6940 - acc: 0.4915 - val_loss: 0.6932 - val_acc: 0.5051
Epoch 8/10
17/17 [==============================] - ETA: 0s - loss: 0.6934 - acc: 0.4935

# 載入Stage 2 比對資料

In [ ]:
url = 'https://raw.githubusercontent.com/kk25gb/AIdea-project-file/main/stage2/vectorize_data.json'
response = urlopen(url)
predict_data = json.loads(response.read())
df = pd.DataFrame(predict_data).T

In [ ]:
known_assay = np.array(list(data.values())).astype('float32')
compared_assay = np.array(list(predict_data.values())).astype('float32')

In [ ]:
len(known_assay)

In [ ]:
array = np.array(known_assay[0])
np.reshape(array, array.shape + (1,))

In [ ]:
len(array)

### 錯誤解決
* [WARNING: WARNING:tensorflow:Model was constructed with shape (None, 150) , but it was called on an input with incompatible shape (None, 1)](https://stackoverflow.com/questions/61656444/warning-warningtensorflowmodel-was-constructed-with-shape-none-150-but-i)

In [ ]:
predict_row

In [ ]:
predict_assay = [compared_assay[0]]*len(known_assay)
len(predict_assay)

In [ ]:
results = {}
for predict_row in compared_assay:
    predict_assay = predict_row*len(known_assay)
    print(len(predict_assay))
    # temp = []
    # predict_row = np.array(predict_row).astype('float32')
    # known_row = np.array(known_row).astype('float32')
    # np.reshape(predict_row, predict_row.shape + (1,))
    # np.reshape(known_row, known_row.shape + (1,))
    # print(predict_row.shape)
    # print(known_row.shape)
    prediction = model.predict({'left_input':predict_assay,'right_input':known_assay})
    # if prediction == 1:
      # temp.append(known_row)
    # results[predict_row] = known_row
    break

In [ ]:
model.predict({'left_input':left_x,'right_input':right_x})